{% extends 'base.html' %}

{% block title %}About Bokaro Steel Limited{% endblock title %}

{% block body %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="static/bsl4.jpg" class="img-fluid rounded" alt="Bokaro Steel Limited">
    </div>
    <div class="col-md-6">
      <h1 class="display-4">About Bokaro Steel Limited</h1>
      <p class="lead">Bokaro Steel Limited, a flagship unit of Steel Authority of India Limited (SAIL), was established in 1964 with the assistance from the Soviet Union. It has been a cornerstone of India's steel production industry, embodying technological advancement and self-sufficiency.</p>
      <hr class="my-4">
      <p>Bokaro Steel operates five blast furnaces and is currently undergoing a major modernization to increase its capacity to 12 million tonnes. Over the years, it has played a pivotal role in India's economic growth and industrial development.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Bokaro_Steel_Plant" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="static/bsl1.jpg" class="img-fluid rounded" alt="Vision">
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="display-5">Our Vision</h2>
      <p class="lead">To lead in sustainable steel production, meeting global standards of quality and innovation.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="static/bsl3.jpg" class="img-fluid rounded" alt="Corporate Social Responsibility">
    </div>
    <div class="col-md-6">
      <h2 class="display-5">Corporate Social Responsibility</h2>
      <p class="lead">At Bokaro Steel Limited, we are committed to contributing positively to the communities we operate in, focusing on sustainable development and welfare initiatives.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="static/bsl2.jpg" class="img-fluid rounded" alt="Technology & Innovation">
    </div>
    <div class="col-md-6">
      <h2 class="display-5">Technology & Innovation</h2>
      <p class="lead">Bokaro Steel Limited continues to innovate in steel production technologies, adopting state-of-the-art equipment and processes to ensure efficiency and quality.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="static/bsl5.jpg" class="img-fluid rounded" alt="Sustainability Efforts">
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="display-5">Sustainability Efforts</h2>
      <p class="lead">We are committed to minimizing our environmental footprint through sustainable practices and resource-efficient operations.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="static/bsl6.jpg" class="img-fluid rounded" alt="Achievements & Milestones">
    </div>
    <div class="col-md-6">
      <h2 class="display-5">Achievements & Milestones</h2>
      <p class="lead">Throughout its history, Bokaro Steel Limited has achieved significant milestones, contributing to India's industrial growth and setting benchmarks in steel production.</p>
    </div>
  </div>
</div>
{% endblock body %}
